.yourportaltext h1
{
  font-size: 80px;
  color: rgb(122, 122, 122);
  margin-top: 100px;
  margin-left: 75px;
  text-align: left;
  
}

.yourportaltext h2
{
  color: rgb(122, 122, 122);
  margin-top: 25px;
  margin-left: 85px;
  text-align: left;
}

  
  .portalBox 
  {
    background: white;
    color: black;
    font-family: helvetica;
    font-size: 12px;
    padding: 20px;
    border: 30px ridge #B2AC88;
    margin-left:300px;
    margin-bottom:75px;
    height: 520px;
    width: 900px;
    position:relative;
  }
  
.trackDonations button
  {
    border-radius: 45%;
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 20px;
  }
.newDonation button
{
  border-radius: 45%;
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 20px;
}

.statistics button
{
  border-radius: 45%;
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 20px;
}
  

  .trackDonations:hover 
  {
    background-color:grey;
    cursor:pointer;
  }
  .newDonation:hover 
  {
    background-color:grey;
    cursor:pointer;
  }
  .statistics:hover
  {
    background-color:grey;
    cursor:pointer;
  }